@font-face {
    font-family:font_strong;
    src:url('./font/MENTHARIDEMO/MENTHARIDEMO/Menthari.ttf') format('truetype'),
    url('../fonts/Captureit.eot#iefix') format('embedded-opentype'),
    url('../fonts/Captureit.woff') format('woff');
    font-weight:normal;
    font-style:normal;
   }
.header li {
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow : hidden;
    width:100vw;
}
.aside-right{
    padding-left: 0;
}
ul li{
    height: 100%;display: flex;align-items: center;
}